<mat-toolbar class="mat-elevation-z8">
  <button
    mat-icon-button
    *ngIf="sidenav.mode === 'over'"
    (click)="sidenav.toggle()"
  >
    <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
    <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
  </button>
  Solinca - Alternative
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
    <img
      class="avatar mat-elevation-z8"
      src="https://appapi.scfitness.ga/v1/users/images?token={{token}}"
    />

    <h4 class="name">{{userInfo?.name}}</h4>
    <p class="designation">{{userInfo?.email}}</p>

    <mat-divider></mat-divider>

    <button
      mat-button
      class="menu-button"
      *ngFor="let item of routeList"
      [routerLink]="item.routerLink"
      routerLinkActive="active"
    >
      <mat-icon>{{ item.icon }}</mat-icon>
      <span>{{ item.name }}</span>
    </button>

    <button mat-button class="menu-button" (click)="logout()">
      <mat-icon>logout</mat-icon>
      <span>Logout</span>
    </button>

    <mat-divider></mat-divider>

    <button mat-button class="menu-button">
      <mat-icon>help</mat-icon>
      <span>Help</span>
    </button>
  </mat-sidenav>
  <mat-sidenav-content>
    <!--<div class="content mat-elevation-z8"><router-outlet></router-outlet></div>-->
    <div><ng-content></ng-content></div>
  </mat-sidenav-content>
</mat-sidenav-container>
