<div class="main-content mt-3">
  <div class="container-fluid">
    <div class="col-xl-10 offset-xl-1 col-lg-10 offset-lg-1 col-md-12">
      <mat-card *ngIf="classeList$ | async as classeList">
        <mat-card-header>
          <div class="container-fluid">
            <mat-card-title>Lista de Aulas</mat-card-title>
            <mat-card-subtitle
              >Lista de Todas as APróximas Aulas Disponíveis para o
              Usuário</mat-card-subtitle
            >

            <div class="row">
              <div class="col-md-12">
                <input
                  #filter
                  placeholder="Digite o nome da aula a ser filtrada"
                  class="form-control"
                  (change)="filterData(filter.value)"
                />
              </div>
            </div>
          </div>
        </mat-card-header>
        <mat-card-content>
          <mat-accordion [multi]="true">
            <mat-expansion-panel
              *ngFor="let class of classeList"
              [expanded]="true"
            >
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Class Name: {{ class.fullName }}</mat-panel-title
                >
              </mat-expansion-panel-header>

              <div class="row">
                <div class="col-md-6">
                  <label class="col-md-2">ID: </label>
                  <label class="col-md-10">{{ class.id }}</label>
                </div>

                <div class="col-md-6">
                  <label class="col-md-2">Data: </label>
                  <label class="col-md-10">{{ class.dateStart }}</label>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <label class="col-md-1">Booking ID: </label>
                  <label class="col-md-11">{{ class.bookingId }} </label>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <label class="col-md-2">Disponível: </label>
                  <label
                    class="col-md-10"
                    [ngClass]="class.isAvailable ? 'available' : 'unavailable'"
                    >{{ class.isAvailable ? "SIM" : "Não" }}</label
                  >
                </div>

                <div class="col-md-6">
                  <label class="col-md-2">Gambiarrável: </label>
                  <label
                    class="col-md-10"
                    [ngClass]="class.bookingId ? 'available' : 'unavailable'"
                    >{{ class.bookingId ? "SIM" : "Não" }}</label
                  >
                </div>
              </div>

              <div class="row d-flex flex-row-reverse">
                <button
                  class="btn btn-success col-md-2"
                  *ngIf="!class.alreadyBooked && class.bookingId"
                  (click)="bookClass(class)"
                >
                  Agendar Aula
                </button>
                <button
                  class="btn btn-danger col-md-2"
                  *ngIf="class.alreadyBooked"
                  (click)="cancelClass(class)"
                >
                  Cancelar Aula
                </button>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
